<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  SXA DELEGATED AREA NON INHERITED FIELDS
            Specifies a pipe-separated list of field Names or IDs which should NOT be inherited by clones from their source item in SXA Delegated Areas
            Field names are case sensitive
            Default value: ""
      -->
      <!--  Final Renderings: {04BF00DB-F5FB-41F7-8AB7-22408372A981}
      -->
      <setting name="XA.Foundation.Multisite.DelegatedArea.NonInheritedFields" value="{04BF00DB-F5FB-41F7-8AB7-22408372A981}|Content" />
    </settings>
    <pipelines>
      <pushCloneChanges>
        <processor type="XA.Foundation.Multisite.Custom.Pipelines.PushCloneChanges.CustomResetFields, XA.Foundation.Multisite.Custom" patch:instead="*[@type='Sitecore.XA.Foundation.Multisite.Pipelines.PushCloneChanges.ResetFields, Sitecore.XA.Foundation.Multisite']" resolve="true"/>
      </pushCloneChanges>
    </pipelines>
  </sitecore>
</configuration>